Chart(
    images: [
        Image(
            id: "color",
            format: Rgba16F,
            size: CanvasRelative(1.0),
        ),
        Image(
            id: "depth",
            format: Depth32F,
            size: CanvasRelative(1.0),
        ),
        Image(
            id: "shadow",
            format: Depth32F,
            size: Fixed(4096, 4096),
        ),
        Image(
            id: "dof",
            format: Rgba16F,
            size: CanvasRelative(1.0),
        ),
        Image(
            id: "half1",
            format: Rgba16F,
            size: CanvasRelative(0.5),
        ),
        Image(
            id: "half2",
            format: Rgba16F,
            size: CanvasRelative(0.25),
        ),
        Image(
            id: "gaussian-horizontal",
            format: Rgba16F,
            size: CanvasRelative(0.125),
        ),
        Image(
            id: "gaussian",
            format: Rgba16F,
            size: CanvasRelative(0.125),
        ),
    ],
    simulation_precalculation_time: 0,
    steps: [
        Draw(
            id: "pass1",
            passes: [
                Pass(
                    id: "shadow",
                    depth_image: Image("shadow"),
                    color_images: [],
                ),
                Pass(
                    id: "solid",
                    depth_image: Image("depth"),
                    color_images: [Image("screen")],
                    clear_color: (0, 0.37, 0, 0),
                ),
            ],
            items: [
                Object(
                    id: "backdrop",
                    mesh_file: "plane_xz.glb",
                    mesh_name: "Plane",
                    material: Material(
                        passes: {
                            "solid": MaterialPass(
                                vertex_shader: "backdrop.vs.glsl",
                                fragment_shader: "backdrop.fs.glsl",
                                depth_test: false,
                                depth_write: false,
                            ),
                        },
                        samplers: {
                            "envmap": Sampler(
                                bind: File(
                                    "medieval_cafe_1k.jxl",

                                ),
                                address_mode: Envmap,
                            ),
                        },
                    ),
                ),
                Scene(
                    id: "sample scene",
                    file: "demo-default.glb",
                    material: Material(
                        passes: {
                            "solid": MaterialPass(
                                vertex_shader: "vs.glsl",
                                fragment_shader: "fs.glsl",
                                depth_test: true,
                                depth_write: true,
                            ),
                        },
                        samplers: {
                            "shadow": Sampler(
                                bind: Image(
                                    "shadow",
                                ),
                                address_mode: ClampToEdge,
                            ),
                            "envmap": Sampler(
                                bind: File(
                                    "medieval_cafe_1k.jxl",
                                ),
                                address_mode: Envmap,
                            ),
                            "base_color_map": Sampler(
                                bind: File(
                                    "dark-rough-rock1/dark_rough_rock1_albedo.jpg",
                                ),
                                address_mode: Repeat,
                            ),
                            "roughness_map": Sampler(
                                bind: File(
                                    "dark-rough-rock1/dark_rough_rock1_Roughness.jpg",
                                ),
                                address_mode: Repeat,
                            ),
                            "metallic_map": Sampler(
                                bind: File(
                                    "dark-rough-rock1/dark_rough_rock1_Metallic.jpg",
                                ),
                                address_mode: Repeat,
                            ),
                            "normal_map": Sampler(
                                bind: File(
                                    "dark-rough-rock1/dark_rough_rock1_Normal-dx.jpg",
                                ),
                                address_mode: Repeat,
                            ),
                            "brdf_lut": Sampler(
                                bind: File(
                                    "ibl_brdf_lut.png",
                                ),
                                address_mode: ClampToEdge,
                            ),
                            "noise_map": Sampler(
                                bind: File(
                                    "noiseTexture.png",
                                ),
                                address_mode: Repeat,
                            ),
                        },
                    ),
                ),
            ],
        ),
    ],
)