RonObject(
	id: "1",
	mesh_path: "app/naty/File.blend",
	texture_path: "app/naty/Albedo.png",
	// texture_path: "app/naty/grid.png",
	vertex_shader: "app/vs2.glsl",
	fragment_shader: "app/fs.glsl",
	depth_test: true,
	depth_write: true,
)