Chart(
	render_targets: [
		RenderTarget(
			id: "color",
			role: Color,
			size: Static(width: 1024, height: 1024),
			// size: RelativeDimension2D("screen", 0.5, 0.5),
			// samples: 4,
			// clear_value: Vec4(0.0, 0.0, 0.0, 1.0),
		),
		RenderTarget(
			id: "depth",
			role: Depth,
			size: Static(width: 1024, height: 1024),
			// clear_value: F32(1.0),
		),
	],
	passes: [
		Pass(
			render_targets: ["color", "depth"],
			objects: [
				Object(
					id: "1",
					mesh_path: "app/naty/File.blend",
					vertex_shader: "app/vs.glsl",
					fragment_shader: "app/fs.glsl",
					depth_test: true,
					depth_write: true,
					textures: {
						"tex": File("app/naty/Albedo.png"),
						"other": RenderTargetId("color"),
					},
				),
			],
		),
		Pass(
			render_targets: [
				"screen",
				"screen_depth"
			],
			objects: [
				Object(
					id: "1",
					mesh_path: "app/naty/File.blend",
					vertex_shader: "app/vs.glsl",
					fragment_shader: "app/fs.glsl",
					depth_test: true,
					depth_write: true,
					textures: {
						// "tex": File("app/naty/Albedo.png"),
						"tex": RenderTargetId("color"),
					},
				),
			],
		),
	],
)

